html, body {
    scroll-behavior: smooth;
}
body {
    background-color: $back;
    color: $text;
    user-select: none;
    font-family: 'Futura PT';
}
.backgroundImage{
    width: 100%;
    background-size: cover;
    background-image: url(../../images/Back.png);
    margin: $margindiv;
    color: $back;

    .logo{
    width: 10%;
    margin: 0 3% 0 3%;
    object-fit: contain;
    }
    ul{
     margin: 0 1% 10% 3%; 
    }
    .active{
        text-decoration: underline;
    }
    .language{
        margin: 3% 30px auto auto;
    }
 
    .row{
        margin: 7% 0 0 0;
    }
}
    #button{
        width: 248px; 
        height: 55px; 
        left: 0px; 
        top: 0px; 
        position: relative; 
        background: white; 
        border-radius: 8px;
        margin: 15px auto 6% 5%;
        text-align: center; 
        color: #DD2020; 
        font-size: 18px; 
        font-weight: 700; 
        text-transform: uppercase; 
        line-height: 30px;
        border: none;
    }
.rightText{
        text-align: right;
        padding: 0 0 0 10px;
        
        p{
            margin: 0 20% 4% auto;
            width: 200px;
        }
        h2{
           margin: 0 20% 2% auto;
           font-weight: 700;
        }
}
.leftText{
           h1{
        font-weight: normal;
        margin: 2% auto 0 5%;
    }
    p{
        margin: 20px auto 2% 5%;
        width: 350px;
    } }
#navtext {
        color: $li;
    }  
.ikon{
   margin: 0 0 20px 89%;
}
.More{
    margin: 1% auto 0 3% ;
}
p{
    font-weight:lighter;
}
.container{
    margin: 4% 3%;
    h2{
        font-size: 35px;
    }
    .card{
        margin-top: 4%;
    }
}
span{
    color: $span;
}
.col-sm-8{
    width: 47%;
    margin: 2% auto 2% 10%;
}
.card-img-top{
    width: 15%;
    margin: 5% auto auto 4%;
}
.card-text{
    text-align: left;
}
.card-title{
    text-align: center;
}

.h-100{
    width: $cards;
    margin-top: 5%;
}
.certificat{
    width: 20%;
    margin: 4% 0 0 0;
}
.line{
    margin: 5% 20% 4% 20%;
    width: 50%;
}
#blockT{
    background-color: $back;
    color: $text;
    border-radius: 5px;
}
.card-header{
    background-color: #DD2020;
    color: $back;
}
h5{
  .fa-minus{
       padding-left: 80% ;
    }
    .fa-plus{
        padding-left: 70% ;
        position:sticky;
    }
}
.blockName{
    margin: 4% auto auto auto;
}
.col-md-3{
    margin: 4% auto 0 auto;
    span{
        color: $text;
        font-weight: bold;
        margin: 4% auto 2% auto;
    }
    .downLine{
        width: 50px; 
    }

}   
 #blockPostavka{
        border: 2px rgba(43, 33, 33, 0.05) solid;
        border-radius: 8px;
        background-color: #966E6E0D;
        img{
            margin: 3% 1%;
        }
    }   
.backgroundForm{
    background-image: url('../../images/backgroundForm.svg');
    color: $back;
    padding: 3%;
    p{
        color: $back;
        width: 30%;
        margin: 0  auto 1% 1%;
    }
    input, textarea{
        background-color: #FFFFFF33;
        border: none;
    }
    textarea{
        width: 90%;
        height: 10px;
        margin-left: 1%;
    }
    .mb-1{
        max-width: 20%;
        margin-left: 1%;
    }
    #button{
        margin-left: 1%;
    }
    table{
        p{
            width: 100%;
        }
        td{
            padding-left: 2%;
            width: 270px;
        }
        margin-bottom: 4%;
      
    }
    
}
#Phone{
    margin: 1% auto 2% 0;
    width: 80%;
}

#Name{
    margin: 1% auto 2% 2%;
    width: 100%;
}
#Kontakt{
    margin-bottom: 3%;
    width: 100%;
}
footer{
    background-color: $text;
    width: 100%;
    margin: $margindiv;
    P{
        margin: auto;
        color: $back;
        font-weight: bold;
    }
    table{
        width: 100%;
    }
    .logo{
        margin: 2% 0 2% 3%;
        td{
            width: 60%;
        }
    }
    #footerTable{
        width: 10%;
    }
    img{
        margin: 2% 0 2% 8%;
    }
}